.title {
    margin-left: 13%;
    margin-top: 6%;
    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
    /* 34.922px */
}

.subtitle {
    margin-left: 13%;
    margin-top: 3%;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
    /* 18.88px */
}

.firststroke {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 5%;
}

.firststroke h1 {
    color: #000000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 118%;
}

.firststroke label {
    color: #7D7D7D;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
    margin-top: 10%;
}

.secondtitle {
    margin-left: 13%;
    margin-top: 3%;
    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
}

.secondstroke {
    display: flex;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 3%;
    text-align: center;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
    /* 16.52px */
}
.secondstroke p{
    margin-top: 4%;
}