.addrewievbtn {
    margin-left: 13%;
    margin-top: 3%;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border: 0.5px solid #514A7E;
    background: #514A7E;
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15%;
}